<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>START</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background: #5d5b5b;height: 500px; display: flex;align-items: center;
    justify-content: center;">
<div>
    <form action="/main/">
    <input type="submit" class="btn btn-primary btn-lg" value="clic me">
    </form>
</div>
</body>
</html>