<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>


<header>
    <div class="wrapper" style="display: block">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Manga</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tags</a>
                </li>
                <li>
                    <form action="/such/" class="form-inline my-2 my-lg-0">
                <input name="such" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
                </li>
            </ul>
            {% if user.is_active %}
                    <a href="/logut/" style="color: white">Вийти({{ user.username }})</a>
                {% else %}
                       <form action="/login/" class="form-inline my-2 my-lg-0" method="post">
                           {% csrf_token %}
                        <input name="login" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                           <input name="password" class="form-control mr-sm-2" type="password" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Войти</button>
            </form>
                {% endif %}

        </div>
    </nav>
        </div>
</header>

<main>
 <div class="wrapper">
    <div class="content">
        {% for i in manga %}
            <div class="block">
                <div class = "title">
                <img class="imgs" src="{{ i.title.url }}" alt="#">
                </div>
                <div class = "minic">
                    <div class="name">
                        <a href="/read/?manga={{ i.id }}">
                        <h3>{{ i.name }}</h3>
                            </a>
                    </div>
                    <div class="data">
                        Дата: {{ i.data_reliz }}
                    </div>
                    <div class="auth">
                        Автор: {{ i.author }}
                    </div>
                    <div class="tag">
                        <form action="/tags/">
                     теги:
                        {% for j in i.tag.all %}
                            <input style="margin: 1px" class="btn btn-outline-dark btn-sm" type="submit" name="{{ j.id }}" value="{{ j.name }}">

                        {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
         {% endfor %}
    </div>

    <div class="test" >
        <form action="/tags/">
        <ul class ="f2f">
            {% for i in Tag %}
            <li>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input"  name="{{ i.id }}" id="{{ i.id }}"
                        {% for jk in check %}
                            {% if i.id == jk %}
                                checked = "1"
                            {% endif %}
                        {% endfor %}>
            <label class="custom-control-label" for="{{ i.id }}">{{ i.name }}</label>
            </div>
            </li>
            {% endfor %}
        <input type="submit">
        </ul>

        </form>
    </div>
 </div>
{% load  defa %}

<div class="pagination">
    <span class="step-links">
        {% if manga.has_previous %}
            <a href="?{% query_update request.GET 'page' manga.previous_page_number %}">Previous</a>
        {% endif %}
            <span class="current">
                Page {{ manga.number }} of {{ manga.paginator.num_pages }}.
            </span>
        {% if manga.has_next %}
            <a href="?{% query_update request.GET 'page' manga.next_page_number %}" >Next</a>
        {% endif %}
    </span>
</div>
</main>




<footer>
 <div class="wrapper">
     <div class="f1"></div>
</div>
</footer>

</div>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% load static %}
<script src = "{% static 'test.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/start.css' %}">

</html>
